.link-button { 
    color: #ec4e96;
    border: 2px solid #ec4e96;
    background-color: #fffbf3;
}

.link-button:hover {
    background-color: #ec4e96;
    color: white;
}

.package-container{ 
    background-color: #ffd7e9;
}

body{
    background-color: #fff8d2;
    font-family: 'Great Vibes', cursive;
}

footer{
    background-color: #ec4e96;
}

header{
    background-color: #ec4e96;
}